<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Add a payment to customer- BTB (Blessed To Bless) Properties, Inc.</title>
  <meta charset="utf-8"></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="btb_external_css.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="btb_external_css.css">
  <script src= "btb_external_javascript.js"></script>


</head>

<body>
<div class="container">
  <h1>Add A Payment To A Customer</h1>
  <hr>
    <form action="#" th:action="@{/customerPageHandler/{cId}/paymentPageHandler(cId=${cId})}" th:object="${payment}" method="POST">

      <br></br>
      <!--
      <date-input date="{{date}}" timezone="[[timezone]]"></date-input>


    <input type="text" th:field="*{paymentType}" placeholder="Payment Type" class="form-control mb-4 col-4" >
    <div th:if="${#fields.hasErrors('paymentType')}" th:errors="*{paymentType}"> Payment Type Error</div>
-->
      <label for="paymentType">Payment Type  </label>
      <select name="paymentType" id="paymentType">
         <option value="Rent">Rent</option>
         <option value="Fees">Fees</option>
         <option value="Repairs">Repairs</option>
         <option value="Other">Other</option>
      </select>

      <br></br>

    <div th:if="${#fields.hasErrors('paymentAmount')}" th:errors="*{paymentAmount}"> Payment Amount Format Wrong</div>

    <input type="text" th:field="*{paymentAmount}" placeholder="Payment Amount" class="form-control mb-4 col-4">

      <input type="text" th:field="*{paymentTransactionDate}" placeholder="Payment Date" class="form-control mb-4 col-4">


    <button type="submit" class="btn btn-info col-2"> Save Payment to a customer</button>
  </form>
  <hr>
  <a th:href="@{/}"> Back to Customer List</a>
</div>
</body>

</html>

