<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>Add a payment to customer - BTB (Blessed To Bless) Properties, Inc.</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1>Add A Payment To A Customer</h1>
  <hr>
    <form action="#" th:action="@{/customerPageHandler/{cId}/paymentPageHandler(cId=${cId})}" th:object="${payment}" method="POST">

      <br></br>
      <!--
      <date-input date="{{date}}" timezone="[[timezone]]"></date-input>


    <input type="text" th:field="*{paymentType}" placeholder="Payment Type" class="form-control mb-4 col-4" >
    <div th:if="${#fields.hasErrors('paymentType')}" th:errors="*{paymentType}"> Payment Type Error</div>
-->
      <label for="paymentType">Payment Type  </label>
      <select name="paymentType" id="paymentType">
         <option value="rent">Rent</option>
         <option value="fees">Fees</option>
         <option value="fees">Repairs</option>
         <option value="other">Other</option>
      </select>

      <br></br>

    <input type="text" th:field="*{paymentAmount}" placeholder="Payment Amount" class="form-control mb-4 col-4">

      <input type="text" th:field="*{paymentTransactionDate}" placeholder="Payment Date" class="form-control mb-4 col-4">


    <button type="submit" class="btn btn-info col-2"> Save Payment to a customer</button>
  </form>
  <hr>
  <a th:href="@{/}"> Back to Customer List</a>
</div>
</body>

</html>

