<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Delete - Are You Sure? - BTB (Blessed To Bless) Properties, Inc.</title>
    <meta charset="utf-8"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="btb_external_css.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="btb_external_css.css">
    <script src= "btb_external_javascript.js"></script>
</head>
<header>
    <nav id="navBarRow" class="navbar navbar-expand-lg navbar-inverse  navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav ">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactButtonHandler}" target="_blank" data-bs-toggle="tooltip" title="Contact Us" >Contact Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutButtonHandler}"  target="_blank" data-bs-toggle="tooltip" title="About Info">About</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="active" >
                    <a class="nav-link" th:href="@{/}" target="_blank" data-bs-toggle="tooltip" title="Go Back to Home Page" >Back to Home Page</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" > Log out </a>
                </li>
            </ul>

        </div>
    </nav>
</header>
<body>
<div class="container">
    <!--
    <h1>Confirm Deletion Request</h1>
    <hr>

    <p>Are you sure you want to delete this customer? </p>


     <a th:href="@{/deleteCustomerPage/{id}(id=${customer.id})}" class="btn btn-danger">Yes, I want to delete this customer.</a>


    <hr>
    <a th:href="@{/}"> Back to Customer List</a>

 -->
    <br></br>
    <br></br>

    <p>Are you sure you want to delete this customer? </p>
    <br></br>
    <a th:href="@{/departmentsList}"> No, changed my mind. Back to Customer List</a>
    <br></br>
    <!--
    <a th:href="@{/addNewCustomerForm}" class="btn btn-primary btn-sm mb-3"> Yes, delete customer </a>
    -->

    <input type="hidden" th:field="*{departmentId}" />
    <a th:href="@{/deleteDepartmentPage/{id}(id=${department.id})}" class="btn btn-danger">Yes, delete department</a>

</div>
</body>

</html>