<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Add a department - BTB (Blessed To Bless) Properties, Inc.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Customer List By Last Name Search Page</h1>
    <hr>

    <p>HEY I'M IN TRYING TO DISPLAY</p>

  <div>






 </form>

    <form action="#" th:action="@{/searchCustomersByLastNameDisplayPageHandler/{lastNameId}(lastNameId=${customer.lastName})}" th:object="${customer}" method="POST">


       <label>Last Name </label>
      <br></br>
      <input type="text" name="lastName" >

      <br></br>
      <br></br>

      <input type="submit" value="Click To Search By Last Name">

</form>

  </div>





     <input type="text" th:field="*{departmentName}" placeholder="Department Name" class="form-control mb-4 col-4" >

      <form action="#" th:action="@{/customersByLastNameListHandler/{lastNameId}(lastNameId=${customer.lastName})}"
            th:object="${customer}" method="GET">



        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4" >
   <input type="text" name="lastName" th:field="${lastName}">



    <form action="#" th:action="@{/customersByLastNameListHandler/{lastNameId}(lastNameId=${customer.lastName})}"
          th:object="${customer}" method="GET">
        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4" >

        <button type="submit" class="btn btn-info col-2"> List By Last Name</button>
    </form>

      <input type="text"  th:text="${customer.lastName}">
-->
    <hr>

    <a th:href="@{/tempAdminButtonHandler}"> Back to Admin Page</a>

    <br></br>
    <a th:href="@{/}"> Back to Department List</a>
</div>
</body>

</html>
