<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--
    <meta charset="ISO-8859-1">
    -->

    <meta charset="UTF-8">
    <title>Customer page - BTB (Blessed To Bless) Properties, Inc.</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <link href="../static/pages.css" th:href="@{pages.css}" type="text/css" rel="stylesheet"/>


</head>
<body>

<div class="container my-2">
    <h1>Customer List</h1>

    <a th:href="@{/addNewCustomerForm}" class="btn btn-primary btn-sm mb-3"> Add Customer </a>

    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>User Name</th>
            <th>Security Name</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">   <!-- 'customer' is my object variable from customer class.
                                                       'customers' is a made up name, for the key, of the key, valued pair of the Model class   -->
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.city}"></td>
            <td th:text="${customer.state}"></td>
            <td th:text="${customer.zip}"></td>
            <td th:text="${customer.userName}"></td>
            <td th:text="${customer.securityName}"></td>
            <td>
                <a th:href="@{/updateCustomerPage/{id}(id=${customer.cId})}" class="btn btn-primary">Customer Details</a>

               <a th:href="@{/deleteCustomerPage/{id}(id=${customer.cId})}" class="btn btn-danger">Delete</a>

             </td>
        </tr>
        </tbody>
    </table>

    <br></br>

    <a th:href="@{/}"> Back to Home Page</a>

</div>

<!--

<p id="demo">A general function</p>

<button type="button" onclick="myGeneralWriteFunction()">General function</button>

<script type="text/javascript" src="btb_external_javascript.js"></script>


<br></br>
<a href="home_page_general.html"  class="btn btn-success"  data-bs-toggle="tooltip" title="return to home">Return to home page </a>


-->



</body>
</html>